.wallet-conteiner {
    display: flex;
    align-items: center;
    /* align-content: center; */
    justify-content: center;


    height: 100vh;
    width: 100vw;

    background-color: #008d36;
}

.wallet-conteiner .bg-img {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.header-form {
    padding: 160px;
    align-self: flex-start;
    justify-self: center;
    justify-content: space-around;
    position: absolute;
    
    background-color:rgb(17, 17, 51);
    border-radius: 10px;

}

.wallet-form {
    align-self: center;

    padding: 50px;
    background-color: rgb(73, 73, 126);
    border-radius: 10px;

}

tr {
    color: #03ce79;
}

th {
    color: rgb(155, 77, 228);
}

p {
    color: #00ff95;
}

input { 
    background-color: aquamarine;
}

select { 
    background-color: aquamarine;
}